.navperant{
    position: absolute;
    position: fixed;
    top: 30px;
    width: 100%;
    z-index: 999;
}
.navbar {
    width: calc(100% - 10%) !important;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.05) !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    border-radius: 40px !important;
    -webkit-backdrop-filter: blur(4px) !important;
    backdrop-filter: blur(4px) !important;
    min-height: auto;
    -webkit-transform: translate(0) !important;
    -ms-transform: translate(0) !important;
    transform: translate(0) !important;
}