.testimonials {
    background-color: #c9f31d;
}
.testimonials .tes-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.testimonials .tes-head .orangeText{
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #212529;
}
.testimonials .tes-head .primaryText{
    font-size: 60px;
    font-weight: 600;
    line-height: 1.3;
    text-transform: capitalize;
    color: #212529;
    
}
.testimonials .Swiper .r-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.2);
    padding: 40px 30px;
    border-radius: 20px;
    
}
.testimonials .Swiper .r-card .icon svg{
    font-size: 15px;
    
}
.testimonials .icon-tes {
    position: absolute;
    gap: 1rem;
    top: -10rem;
    right: 0;
    z-index: 5;
}
.swiper-horizontal {
    overflow: visible !important;
}
.testimonials .icon-tes .tes-icon-prev, 
.testimonials .icon-tes .tes-icon-next {
    min-width: 40px !important;
    height: 40px !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 50%;
    padding: 0 !important;
    text-align: center !important;
}
.testimonials .icon-tes .tes-icon-prev, 
.testimonials .icon-tes .tes-icon-next {
        color: #212529 !important;
}
/* testimonials box */
.tes-box {
    background-image: url("../../../public/assets/img_about.jpg") !important;
    min-height: 70vh !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center 36.2625px !important;
}
.tes-box .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #1f1f1f;
    opacity: 0.3;
    z-index: 2;
}
.tes-box .tes-box-details .box-blur {
    background: rgba(0, 0, 0, 0.3) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    backdrop-filter: blur(10px) !important;
    display: flex;
    align-items: center;
    padding: 40px 30px;
}
.tes-box .tes-box-details .box-blur span {
    margin-left: 75px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.tes-box .tes-box-details .box-blur span svg {
    color: #fff;
    font-size: 30px;
    align-items: center;
    
}